html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.container {
    flex: 1;
    width: 60%;
    margin: 50px auto;
    background: rgba(204, 204, 204, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #a1621e;
}