html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.container {
    width: 60%;
    margin: 50px auto;
    background: rgba(204, 204, 204, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

button {
    width: 15%;
    margin: 15px auto;
    padding: 10px;
    background-color: #a1621e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #814d17;
    transform: scale(1.05);
}
