html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background_4.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
}

.order-container {
    width: 40%;
    margin: 50px auto;
    background: rgba(204, 204, 204, 0.8);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-section {
    margin-bottom: 20px;
}

.order-section h2 {
    font-size: 1.5em;
    margin: 45px 0 30px 0;
    color: #333;
}

.order-section label {
    font-size: 1em;
    margin: 5px 0;
    display: block;
    padding: 5px 0;
}

.order-section input {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.order-section input[type="radio"] {
    width: auto;
}

.order-section input:focus,
.order-section textarea:focus {
    border-color: #5f9ea0;
    outline: none;
}

.order-summary {
    margin-top: 30px;
}

.order-summary-table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary-table th,
.order-summary-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.order-summary-table th {
    background-color: #b8956f;
    color: black;
}

.order-summary-total {
    margin-top: 10px;
    text-align: right;
    font-size: 1.2em;
    color: #333;
}

.order-summary-total span {
    font-weight: bold;
}

.checkout-actions {
    text-align: center;
    margin-top: 20px;
}

.edit-button {
    background-color: #a1621e;
    color: white;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-button:hover {
    background-color: #814d17;
    transform: scale(1.05);
}
