html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
}

.order-container {
    width: 40%;
    margin: 50px auto;
    background: rgba(204, 204, 204, 0.8);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-section {
    margin-bottom: 32px;
}

.order-section h2 {
    font-size: 1.5em;
    margin: 40px 0 20px 0;
    color: #333;
}

.order-section label {
    margin: 5px 0;
    display: block;
    padding: 5px 0;
    font-weight: bold;
}

.order-section .payment-option {
    font-weight: normal;
}

.order-section input {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.order-section input[type="radio"] {
    width: auto;
}

.order-summary {
    margin-top: 30px;
}

.order-summary-table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary-table th,
.order-summary-table td {
    padding: 7px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.order-summary-table th {
    background-color: #b8956f;
    color: black;
}

.order-summary-total {
    margin-top: 10px;
    text-align: right;
    font-size: 1.2em;
    color: #333;
}

.order-summary-total span {
    font-weight: bold;
}

.submit-order-button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.checkout-actions {
    text-align: center;
    margin-top: 20px;
}

.edit-button {
    background-color: #a1621e;
    color: white;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-button:hover {
    background-color: #814d17;
    transform: scale(1.05);
}

.colored-toast {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    padding: 15px;
}

.swal2-title {
    font-size: 20px;
    font-weight: bold;
}

.swal2-html-container {
    font-size: 18px;
}

.swal2-confirm {
    width: 100%;
    color: white;
    background: #a1621e;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.swal2-confirm:hover {
    background-color: #814d17;
    transform: scale(1.05);
}


