<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<header th:fragment="header" class="header">
    <div class="top-bar">
        <a th:href="@{/}" class="company-name">Vier Embroidery</a>
        <div class="auth-buttons">
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Логин</a>
            <a sec:authorize="isAnonymous()" th:href="@{/register}">Регистрация</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
            <a th:href="@{/shopping-cart}"><img src="https://cdn-icons-png.flaticon.com/512/846/846423.png" alt=""></a>
        </div>
    </div>
</header>

</body>
</html>