<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добави категория</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/edit-profile.css">
    <link rel="stylesheet" href="/css/add-category.css">
</head>

<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

<div class="container">
    <h2>Добави категория</h2>
    <form th:action="@{/products/add-category}" th:method="POST" th:object="${addProductCategory}">
        <div class="form-group">
            <label for="category">Име на категория</label>
            <input type="text" id="category" name="category" required th:field="*{productCategory}">
            <p class="alert-warning" th:if="${#fields.hasErrors('productCategory')}" th:errors="*{productCategory}"></p>

            <p class="alert-warning" th:text="${productCategoryAlreadyExistMessage}"></p>

            <button type="submit">Добави</button>
        </div>
    </form>
</div>



<th:block th:insert="fragments/footer :: footer"></th:block>

</body>
</html>