<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администратор</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

<div class="container">

    <h1>Потребители</h1>
    <table>
        <thead>
        <tr>
            <th>ИД</th>
            <th>Имейл</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Роля</th>
            <th>Създаден на</th>
            <th>Промяна на роля</th>
            <th>Имейли</th>
            <th>Поръчки</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role))}"></td>
            <td th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy HH:mm')}"></td>
            <td>
                <form th:action="@{'/admin/' + ${user.id} + '/change-role'}" th:method="PUT">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <button type="submit">Смени роля</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/' + ${user.email} + '/all-emails'}" th:method="GET">
                    <button type="submit">Отвори</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/' + ${user.id} + '/orders'}" th:method="GET">
                    <button type="submit">Отвори</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:insert="fragments/footer :: footer"></th:block>

</body>
</html>