<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vier Embroidery</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>

<main class="main-content">

    <th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

    <section class="description">
        <h2>Открийте красиви бродерийни дизайни</h2>
        <p>Разгледайте нашите ръчно изработени колекции</p>
        <a th:href="@{/women}" class="btn">Пазарувайте сега</a>
    </section>

    <section class="featured-products">
        <h2>Наскоро добавени продукти</h2>
        <div class="product-grid">
            <div class="product">
                <img src="https://static.bnr.bg/gallery/cr/e58fd3d1d290316a9f1796f16729c076.jpg"
                     alt="Embroidery Design 1">
                <h3>Риза с традиционни български мотиви</h3>
                <p>49.99 лв.</p>
                <a href="product-details.html" class="btn">Добави в количката</a>
            </div>
            <div class="product">
                <img src="https://i.etsystatic.com/16715571/r/il/f7616d/4559901266/il_fullxfull.4559901266_nehy.jpg"
                     alt="Embroidery Design 2">
                <h3>Тениска с традиционни български мотиви</h3>
                <p>29.99 лв.</p>
                <a href="product-details.html" class="btn">Добави в количката</a>
            </div>
        </div>
    </section>
</main>

<th:block th:insert="fragments/footer :: footer"></th:block>

</body>
</html>
