<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детско</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>


<div class="product-grid">
    <div th:each="cloth :${kidsClothes}" class="product-container" th:attr="data-name=${cloth.description}, data-price=${cloth.price}">
        <img th:src="${cloth.imageUrl}" alt="Product Image 1">
        <h2 th:text="${cloth.description}"></h2>
        <p th:text="${cloth.price + ' лв.'}"></p>
        <button class="add-to-cart">Добави в количката</button>
    </div>
</div>

<th:block th:insert="fragments/footer :: footer"></th:block>

<script src="/js/add-product.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
