<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

<main class="login-container">

    <h2>Логин</h2>

    <form th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
        <label for="email">Твоят имейл</label>
        <input type="email" id="email" name="email" required th:field="*{email}">
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="password">Парола</label>
        <input type="password" id="password" name="password" required th:field="*{password}">
        <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <button type="submit" class="btn">Вход</button>
    </form>

    <p>Нямате акаунт? <a th:href="@{/register}" class="login-link">Регистрация</a></p>

</main>

<th:block th:insert="fragments/footer :: footer"></th:block>

</body>
</html>
