<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Плащане</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

<div class="order-container">
    <h1>Поръчка</h1>

    <form id="order-form" th:action="@{/order}" th:method="POST" th:object="${orderRequest}">
        <div class="order-section">
            <h2>Информация за доставка</h2>

            <label for="name">Име</label>
            <input type="text" id="name" name="name" required th:field="*{firstName}">

            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname" required th:field="*{lastName}">

            <label for="email">Имейл</label>
            <input type="email" id="email" name="email" required th:field="*{email}">

            <label for="phone">Телефон</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required th:field="*{phoneNumber}">

            <label for="city">Град</label>
            <input type="text" id="city" name="city" required th:field="*{city}">

            <label for="address">Адрес</label>
            <input type="text" id="address" name="address" required th:field="*{address}">
        </div>

        <div class="order-section">
            <h2>Опции за плащане</h2>
            <label class="payment-option">
                <input type="radio" name="payment-option" value="cash-on-delivery" required>
                Наложен платеж
            </label>
        </div>

        <div class="order-summary">
            <h2>Обобщение на поръчката</h2>
            <table class="order-summary-table">
                <thead>
                <tr>
                    <th>Снимка</th>
                    <th>Име</th>
                    <th>Брой</th>
                    <th>Размер</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody id="order-summary-items">

                </tbody>
            </table>
            <div class="order-summary-total">
                <p>Общо: <span id="order-total"></span></p>
            </div>
        </div>

        <div class="checkout-actions">
            <button type="submit" class="submit-order-button">Поръчай сега</button>
        </div>
    </form>
</div>

<th:block th:insert="fragments/footer :: footer"></th:block>

<script src="/js/order.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
