<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешна поръчка</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/order-success.css">
</head>
<body>

<div class="container">
    <div class="emoji">✅</div>
    <h1>Благодарим Ви за поръчката!</h1>
    <p>Вашата поръчка беше направена успешно.</p>
    <a th:href="@{/}">Към началната страница</a>
</div>

<script src="/js/order.js"></script>

</body>
</html>
