<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Количка</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/shopping-cart.css">
</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>
<th:block th:insert="fragments/nav-bar :: nav-bar"></th:block>

<div class="cart-container">
    <h1>Количка</h1>
    <table class="cart-table">
        <thead>
        <tr>
            <th>Снимка</th>
            <th>Име</th>
            <th>Брой</th>
            <th>Размер</th>
            <th>Цена</th>
            <th>Премахни</th>
        </tr>
        </thead>
        <tbody id="cart-items">

        </tbody>
    </table>
    <div class="cart-summary">
        <h2><span id="cart-total"></span></h2>
        <form th:action="@{/order}" th:method="GET">
            <button type="submit" id="order-button" class="checkout-button" disabled>Поръчай</button>
        </form>
    </div>
</div>

<th:block th:insert="fragments/footer :: footer"></th:block>

<script src="/js/shopping-cart.js"></script>

</body>
</html>
